@{
    ViewBag.Title = "Index";
}

<!-- 2nd nav bar -->
<div class="grid">
    <div class="row">
        <div id="header-main" class="spanN">
            <div class="nav2-left">
            </div>
            <div class="nav2-center">
            </div> 
            <div class="nav2-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>

<div>
    <div class="page secondary">
        <div class="grid">
            <div class="row">

                <div class="span8" style="background-color: lightgray">
                    <div style="float: left">
                        <!-- CARUSEL -->
                        <div class="carousel" style="height: 400px; width: 400px; margin-left: auto; margin-right: auto" data-role="carousel"
                            data-param-effect="slide" data-param-direction="left"
                            data-param-duration="2000" data-param-period="4000">
                            <div class="slides">
                                <div class="slide image" id="slide1">
                                    <img src="~/Content/Images/img1.bmp" />
                                    <div class="description">
                                        Description text here...
                                    </div>
                                </div>

                                <div class="slide mixed" id="slide2">
                                    <img src="~/Content/Images/img2.bmp" />
                                    <div class="description">
                                        Description text here...
                                    </div>
                                </div>

                                <div class="slide mixed" id="slide3">
                                    <img src="~/Content/Images/img3.bmp" />
                                    <div class="description">
                                        Description text here...
                                    </div>
                                </div>
                            </div>

                            <span class="control left">‹</span>
                            <span class="control right">›</span>

                        </div> 
                    </div>

                </div>
                <div class="span4">
                    
                    <div class="tile double bg-color-red outline-color-green">
                        <div class="tile-content">
                            <h5>Windows 8 Apps</h5>
                            <hr />
                            <h2>Windows 8 metro style is out, we make the apps your company want!
                            <a href="#">Read More</a>
                            </h2>
                        </div>
                    </div>
                    <div class="tile double bg-color-red outline-color-green">
                        <div class="tile-content">
                            <h5>Windows 8 Apps</h5>
                            <hr />
                            <h2>Windows 8 metro style is out, we make the apps your company want!
                            <a href="#">Read More</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tile bg-color-red outline-color-green">
    <h2>Hello</h2>
</div>
<div class="tile bg-color-orange">
    <h1>Hello</h1>
</div>
<div class="tile bg-color-orange">
    <h1>Hello</h1>
</div>


